body {
    font-family: Calibri, Arial, sans-serif;
    width: 85%;
    margin: auto;
    background-color: #fafbf6;
}

header {
    border-bottom: 2px solid #70163C;
    margin-bottom: 25px;
}

h1 {
    margin-top: 0;
    margin-left: 15px;
}

h3 {
    color: #2E0F15;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}
#crypto {
    display: flex;
    flex-wrap: wrap;
}

.el {
    display: inline;
    margin-right: 5px;
}


.guessedLetter {
    padding: 5px;
    border: 1px solid #000;
    background-color: #fff;
}

.guessedLetter, .encodedLetter, input[type="text"], .primAction, .secAction {
    padding: 5px;
}

form {
    display: grid;
    grid-template-columns: 1fr 0.75fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}

label {
    grid-column: 2/3;
    justify-self: end;
    letter-space: 2px;
}

input[type="text"] {
    grid-column: 3/4;
    justify-self: start;
    width: 35px;
}

#sub {
    cursor: pointer;
}

.primAction {
    border: 2px solid #120309;
    background-color: #ADCFD6;
    color: #000;
    width: 100px;
}

.primAction:hover {
    border: 2px solid #120309;
    background-color: #048A81;
    color: #fff;
}
.secAction {
    border: 2px solid darkgray;
    background-color: #fff;
    color: #000;
    text-align: center;
    width: 85px;
    font-size: 0.95em;
}

.primAction:hover, .secAction:hover {
    -webkit-box-shadow: 5px 5px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 23px -5px rgba(0,0,0,0.75);
}

#sub, #new {
    grid-column: 3/4;
}

#lettersLeft {
    margin: 15px auto 15px auto;
}

.center {
    text-align: center;
}

#author {
    margin: 20px auto 30px 15%;
    font-size: 1.2em;
}

footer {
    margin-top: 35px;
    border-top: 2px solid #70163C;
    text-align: center;
}

#error {
    text-align: center;
}